# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\test\cxf15364946594-chai-blog-master\chai-blog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
